{% load static %}
{% load django_simple_bulma %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Instagram Clone App {% block title %}{% endblock %}</title>

	<!-- styles -->
	<link rel="stylesheet" href="{% static 'account/css/base.css' %}">
	<link rel="stylesheet" href="{% static 'account/css/bulma-calendar.min.css' %}">
  {% bulma %}
  {% font_awesome %}

	<!-- scripts -->
	<script src="{% static 'account/js/jquery.js' %}" defer></script>
	<script src="{% static 'account/js/main.js' %}" defer></script>
</head>
<body>
	{% include 'includes/header.html' %}

	<div class="container is-fluid">
		<div class="columns">
			<main class="column is-8">
				{% block content %}
			
				{% endblock %}
			</main>
			<aside class="column is-4">
				{% include 'includes/sidebar.html' %}
			</aside>
		</div>
	</div>

	<a href="{% url 'publications:create_publication' %}" class="button-add-pub">
		<span class="fa-stack fa-lg">
			<i class="fas fa-circle fa-stack-2x"></i>
			<i class="fas fa-plus fa-stack-1x fa-inverse"></i>
		</span>
	</a>

	{% include 'includes/footer.html' %}
</body>
</html>