{% load static %}
{% load django_simple_bulma %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Instagram Clone App | {% block title %}{% endblock %}</title>

	<!-- styles -->
	<link rel="stylesheet" href="{% static 'account/css/layout.css' %}">
	<link rel="stylesheet" href="{% static 'account/css/bulma-calendar.min.css' %}">
	{% bulma %}
  <!-- {% font_awesome %} -->

	<!-- scripts -->
	<script src="{% static 'account/js/main.js' %}" defer></script>
</head>
<body>
	<main class="landing-page">
		{% block content %}

		{% endblock %}
	</main>
</body>
</html>