{% load account_tags %}
<header>
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="container is-fluid">
			<div class="navbar-brand">
				<a href="{% url 'account:dashboard' %}" class="navbar-item is-primary">
					Instagram Clone App
				</a>
			
				<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>
			
			<div id="mainNavbar" class="navbar-menu">
				<div class="navbar-end">
					<a href="{% url 'account:user_list' %}" class="navbar-item">
						<span class="icon has-text-primary">
							<!-- <i class="fas fa-search"></i> --> <!-- lupa --> 
							<!-- <i class="fas fa-th-large"></i> -->
							<!-- <i class="fas fa-table"></i> -->
							<i class="fas fa-th"></i>
						</span>
						<span>
							Explore
						</span>
					</a>
					<!-- <a href="#" class="navbar-item">Notifications</a> -->
					<div class="navbar-item has-dropdown"> <!-- is-hoverable -->
						<a class="navbar-link is-arrowless">
							<span class="icon has-text-primary">
								<!-- <i class="fas fa-comments"></i> -->
								<!-- <i class="fas fa-comment-alt"></i> -->
								<i class="fas fa-bell"></i>
							</span>
							<span>
								Notifications
							</span>
						</a>
						<div class="navbar-dropdown">
							{% get_user_notifications as notifications %}
							{% if notifications %}
								{% for action in notifications %}
									<a href="#" class="navbar-item">
										<span class="icon has-text-primary">
											{% if action.verb == 'likes' %}
												<i class="fas fa-heart"></i>
											{% else %}
												<i class="fas fa-users"></i>
											{% endif %}
										</span>
										<span>
											{% if action.user %}
												{{ action.user }} 
											{% endif %}
											{% if action.verb %}
												{{ action.verb }}
											{% endif %}
											{% if action.target %}
												{{ action.target }}
											{% endif %}
										</span>
									</a>
								{% endfor %}
							{% else %}
								<a href="" class="navbar-item">
									No notifications yet.
								</a>
							{% endif %}
							<!-- <a href="#" class="navbar-item">
								<span class="icon has-text-primary">
									<i class="fas fa-users"></i>
								</span>
								<span>
									Notification 1
								</span>
							</a>
							<a href="#" class="navbar-item">
								<span class="icon has-text-primary">
									<i class="fas fa-user"></i>
								</span>
								<span>
									Notification 2
								</span>
							</a>
							<a href="#" class="navbar-item">
								<span class="icon has-text-primary">
									<i class="fas fa-user-alt"></i>
								</span>
								<span>
									Notification 3
								</span>
							</a>
							<a href="#" class="navbar-item">
								<span class="icon has-text-primary">
									<i class="fas fa-user-friends"></i>
								</span>
								<span>
									Notification 4
								</span>
							</a>
							<a href="#" class="navbar-item">
								<span class="icon has-text-primary">
									<i class="fas fa-user-plus"></i>
								</span>
								<span>
									Notification 5
								</span>
							</a>
							<hr class="navbar-divider">
							<a href="#" class="navbar-item">
								<span class="icon has-text-primary">
									<i class="fas fa-comment-alt"></i>
								</span>
								<span>
									Notification 6
								</span>
							</a>
							<a href="#" class="navbar-item">
								<span class="icon has-text-primary">
									<i class="fas fa-comments"></i>
								</span>
								<span>
									Notification 7
								</span>
							</a>
							<a href="#" class="navbar-item">
								<span class="icon has-text-primary">
									<i class="fas fa-comment"></i>
								</span>
								<span>
									Notification 8
								</span>
							</a> -->
						</div>
					</div>
					<a href="{% url 'account:profile' %}" class="navbar-item">
						<span class="icon has-text-primary">
							<i class="fas fa-user-circle"></i>
						</span>
						<span>Profile</span>
					</a>
					<!-- <div class="navbar-item">
										<div class="buttons">
											<a href="#" class="button is-primary">
												<strong>Sign up</strong>
											</a>
											<a href="#" class="button is-light">
												Log in
											</a>
										</div>
									</div> -->
				</div>
			</div>
		</div>
	</nav>
</header>