{% extends 'page_layout.html' %}

{% block title %}| {{ usr.get_full_name|capfirst }} {% endblock %}

{% load static %}

{% load account_tags %}

{% load thumbnail %}

{% block content %}
	<div class="columns profile-information">
	  <div class="column is-4 profile-img-container">
	    <figure class="image is-128x128">
	      <img src="{{ usr.profile.avatar.url }}" alt="{{ usr.first_name }}" class="is-rounded">
	    </figure>
	  </div>
	  <div class="column is-8 profile-information-container">
	    <div class="columns">
	      <div class="column">
	        <div class="title">
	          {{ usr.username }}
	          <a href="" class="button is-small button-follow follow-users" data-id="{{ usr.id }}" data-action="{% if user in usr.followers.all %}un{% endif %}follow">
	          	{% if user not in usr.followers.all %}
	            	<span>Follow</span>
	            {% else %}
	            	<span>Unfollow</span>
	            {% endif %}
	          </a>
	        </div>
	      </div>
	    </div>
	    <div class="columns profile-data">
	      <div class="column is-8-mobile is-9-tablet is-8-desktop">
	        <div class="level is-mobile">
	          <div class="level-item has-text-centered">
	          	{% with total_followers=usr.followers.count %}
	          		<strong>follower{{ total_followers|pluralize }}:</strong> <span class="total-followers-number">{{ total_followers }}</span>
							{% endwith %}
	          </div>
	          <div class="level-item has-text-centered">
            	{% with total_following=usr.following.count %}
            		<strong>following:</strong> <span class="total-following-number">{{ total_following }}</span>
  						{% endwith %} 
	          </div>
	          <div class="level-item has-text-centered">
	          	{% with pubs_total=usr.publications_created.count %}
	            	<strong>publication{{ pubs_total|pluralize }}:</strong> 
	              {{ pubs_total }}
	            {% endwith %}
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="columns">
	      <div class="column biography">
	        <p>
	          {% if usr.profile.biography %}
	            {{ usr.profile.biography }}
	          {% endif %}
	        </p>
	      </div>
	    </div>
	  </div>
	</div>
	<hr>
	<div class="columns">
		<div class="column">
			{% with pubs=usr.publications_created.all %}
				{% if pubs %}
					<div class="publications-grid">
						{% for pub in pubs %}
							<div class="publication">
							  <a class="profile-button-image">
							    {% thumbnail pub.image "450x450" crop="top" as im %}
							      <img src="{{ im.url }}" alt="" width="{{ im.width }}" height="{{ im.height }}">
							    {% endthumbnail %}
							  </a>
							  <div class="modal">
							    <div class="modal-background"></div>
							    <div class="modal-content">
							      <div class="image">
							        <img src="{{ pub.image.url }}" alt="" class="modal-image">
							      </div>
							      {% with total_likes=pub.users_like.count users_like=pub.users_like.all %}
							        <ul>
							          <li>
							            <a href="#" data-id="{{ pub.id }}" data-action="{% if user in users_like %}un{% endif %}like" class="like-button">
							              <span class="icon is-small {% if user in users_like %}has-text-primary{% endif %}">
							                <i class="fas fa-heart"></i>
							              </span>
							            </a>
							            <span class="total-likes-number">
							              {{ total_likes }} 
							            </span> 
							          </li>
							          <li>
							            <a href="" class="btn-comment-jump">
							              <span class="icon is-small">
							                <i class="fas fa-comment"></i>
							              </span>
							            </a>
							          </li>
							        </ul>
							        <span class="is-size-7">
							          {% with pub_id=pub.id %}
							            {% if users_like %}
							              Likes to
							              {% for user in users_like %}
							              	{{ user }}
							                <!-- {% if forloop.first %}
							                  {{ user }}
							                {% elif forloop.last %}
							                  {% with pub_id=pub.id %}
							                    and {% pubs_minus_one pub_id %} more.
							                  {% endwith %}
							                {% else %}
							                
							                {% endif %} -->
							              {% endfor %}
							            {% else %}
							              No likes.
							            {% endif %}
							          {% endwith %}
							        </span>
							      {% endwith %}
							      <hr>
							      <p class="description">
							        <strong>{{ usr.username }}</strong> {{ pub.description }}
							      </p>
							      {% include 'includes/comment_list.html' %}
							      <form action="{% url 'publications:comment_publication' %}" method="post" class="comment-form">
							        {% csrf_token %}

							        <input type="hidden" name="pub_id" value="{{ pub.id }}">

							        <div class="field">
							          <textarea name="body" id="id_comment" placeholder="Comment..." class="textarea" rows="2" required></textarea>
							        </div>

							        <div class="field">
							          <button class="button is-primary is-fullwidth" type="submit">
							            Comment
							          </button>
							        </div>
							      </form>
							    </div>
							    <button class="modal-close is-large" aria-label="close"></button>
							  </div>
							</div>
						{% endfor %}
					</div>
				{% else %}
					{{ usr.get_full_name|capfirst }} doesn't have any publications yet :(
				{% endif %}
			{% endwith %}
		</div>
	</div>
{% endblock %}