{% extends 'base.html' %}
{% block title %} | Dashboard {% endblock %}

{% load thumbnail %}

{% load account_tags %}

{% block content %}
	<!-- <h1>dashboard, {{ user.get_short_name }}</h1>
	<hr>
	{% with total_publications_uploaded=user.publications_created.count %}
		<p>
			Your number of publication{{ total_publications_uploaded|pluralize }} is {{ total_publications_uploaded }}
		</p>
	{% endwith %}
	<hr> -->
	<!-- {% for action in actions %}
	 	<div class="message">
		 	<p>
		 		{% if action.user %}
		 			{{ action.user }} 
		 		{% endif %}
		 		{% if action.verb %}
		 			{{ action.verb }}
		 		{% endif %}
		 		{% if action.target %}
		 			{{ action.target }}
		 		{% endif %}
		 	</p>
	 	</div>
	{% endfor %} -->
	{% for pub in publications %}
		<div class="publication dashboard-publication">
			<a class="profile-button-image">
        {% thumbnail pub.image "600x600" crop="top" as im %}
          <img src="{{ im.url }}" alt="" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
      </a>
      <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="image">
            <img src="{{ pub.image.url }}" alt="" class="modal-image">
          </div>
          {% with total_likes=pub.users_like.count users_like=pub.users_like.all %}
            <ul>
              <li>
                <a href="#" data-id="{{ pub.id }}" data-action="{% if user in users_like %}un{% endif %}like" class="like-button">
                  <span class="icon is-small {% if user in users_like %}has-text-primary{% endif %}">
                    <i class="fas fa-heart"></i>
                  </span>
                </a>
                <span class="total-likes-number">
                  {{ total_likes }} 
                </span> 
              </li>
              <li>
                <a href="" class="btn-comment-jump">
                  <span class="icon is-small">
                    <i class="fas fa-comment"></i>
                  </span>
                </a>
              </li>
            </ul>
            <span class="is-size-7">
              {% with pub_id=pub.id %}
                {% if users_like %}
                  Likes to
                  {% for user in users_like %}
                    {% if forloop.first %}
                      {{ user }}
                    {% elif forloop.last %}
                      {% with pub_id=pub.id %}
                        and {% pubs_minus_one pub_id %} more.
                      {% endwith %}
                    {% else %}
                    
                    {% endif %}
                  {% endfor %}
                {% else %}
                  No likes.
                {% endif %}
              {% endwith %}
            </span>
          {% endwith %}
          <hr>
          <p class="description">
            <a href="{{ pub.user.get_absolute_url }}" class="button-user-link">
            	<strong>{{ pub.user.username }}</strong>
            </a> 
            {{ pub.description }}
          </p>
          {% include 'includes/comment_list.html' %}
          <form action="{% url 'publications:comment_publication' %}" method="post" class="comment-form">
            {% csrf_token %}

            <input type="hidden" name="pub_id" value="{{ pub.id }}">

            <div class="field">
              <textarea name="body" id="id_comment" placeholder="Comment..." class="textarea" rows="2" required></textarea>
            </div>

            <div class="field">
              <button class="button is-primary is-fullwidth" type="submit">
                Comment
              </button>
            </div>
          </form>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
      </div>
      {% with total_likes=pub.users_like.count users_like=pub.users_like.all %}
      	<ul>
      		<li>
      			<a href="#" data-id="{{ pub.id }}" data-action="{% if user in users_like %}un{% endif %}like" class="like-button">
      			  <span class="icon is-small {% if user in users_like %}has-text-primary{% endif %}">
      			    <i class="fas fa-heart"></i>
      			  </span>
      			</a>
      			<span class="total-likes-number">
      			  {{ total_likes }} 
      			</span>
      		</li>
      		<li>
            <a href="" class="btn-dashboard-comment-jump" data-dashboard_button_comment_number="{{ pub.id }}">
              <span class="icon is-small">
                <i class="fas fa-comment"></i>
              </span>
            </a>
          </li>
        	<span class="is-size-7">
            {% with pub_id=pub.id %}
              {% if users_like %}
                Likes to
                {% for user in users_like %}
                  {% if forloop.first %}
                    {{ user }}
                  {% elif forloop.last %}
                    {% with pub_id=pub.id %}
                      and {% pubs_minus_one pub_id %} more.
                    {% endwith %}
                  {% else %}
                  
                  {% endif %}
                {% endfor %}
              {% else %}
                No likes.
              {% endif %}
            {% endwith %}
          </span>
      	</ul>
      {% endwith %}
      <!-- <hr> -->
      <p class="description">
        <a href="{{ pub.user.get_absolute_url }}" class="button-user-link">
        	<strong>{{ pub.user.username }}</strong>
        </a> 
        {{ pub.description }}
      </p>
      <form action="" method="post" class="comment-form dashboard-form">
        <div class="field">
          <textarea name="comment" placeholder="Comment..." class="textarea dashboard_comment_textarea
          " rows="2" data-dashboard_textarea_number="{{ pub.id }}"></textarea>
        </div>
      </form>
		</div>
	{% endfor %}
{% endblock %}