{% extends 'page_layout.html' %}

{% block title %} | Edit Profile {% endblock %}

{% load static %}

{% load account_tags %}

{% load thumbnail %}

{% block content %}
	<div class="outer-container profile-conf">
		<div class="container">
			{% if messages %}
				{% for message in messages %}
					<div class="notification {{message.tags}}">
					  <button class="delete"></button>
					  {{ message|safe }}
					</div>
				{% endfor %}
			{% endif %}
			<div class="card">
				<div class="columns">
					<div class="column is-3">
						<nav class="panel profile-panel">
							<a class="panel-block is-active" data-button_number="1">Edit profile</a>
							<a class="panel-block" data-button_number="2">Change password</a>
							<a class="panel-block" data-button_number="3">Email and SMS</a>
							<a class="panel-block" data-button_number="4">Manage contacts</a>
							<a class="panel-block" data-button_number="5">Privacy and security</a>
						</nav>
					</div>
					<div class="column is-9 profile-content">
						<div class="content content-1">
							<h4>Profile settings</h4>
							<hr>
							<form action="{% url 'account:edit' %}" method="post" enctype="multipart/form-data">
								{% csrf_token %}

								<div class="field is-horizontal">
								  <div class="field-label is-normal">
								  	<label class="label">Firstname</label>
								  </div>
								  <div class="field-body">
								  	<div class="field is-expanded">
								  		<div class="control is-expanded">
								  		  <input class="input {% if user_form.first_name.errors %} is-danger{% endif %}" type="text" placeholder="Firstname" name="first_name" maxlength="30" value="{{ user_form.first_name.value }}">
											</div>
											<div class="help is-danger">
												{{ user_form.first_name.errors }}
											</div>
								  	</div>
								  </div>
								</div>

								<div class="field is-horizontal">
								  <div class="field-label is-normal">
								  	<label class="label">Lastname</label>
								  </div>
								  <div class="field-body">
								  	<div class="field is-expanded">
								  		<div class="control is-expanded">
								  		  <input class="input {% if user_form.last_name.errors %} is-danger{% endif %}" type="text" placeholder="Lastname" name="last_name" maxlength="150" value="{{ user_form.last_name.value }}">
											</div>
											<div class="help is-danger">
												{{ user_form.last_name.errors }}
											</div>
								  	</div>
								  </div>
								</div>

								<div class="field is-horizontal">
								  <div class="field-label is-normal">
								  	<label class="label">Username</label>
								  </div>
								  <div class="field-body">
								  	<div class="field is-expanded">
								  		<div class="control is-expanded">
								  		  <input class="input {% if user_form.username.errors %} is-danger{% endif %}" type="text" placeholder="Username" name="username" maxlength="150" value="{{ user_form.username.value }}">
								  		</div>
								  		<div class="help">
								  			<p>{{ user_form.username.help_text }}</p>
											</div>
											<div class="help is-danger">
												{{ user_form.username.errors }}
											</div>
								  	</div>
								  </div>
								</div>

								<div class="field is-horizontal is-hidden">
								  <div class="field-label is-normal">
								  	<label class="label">Email</label>
								  </div>
								  <div class="field-body">
								  	<div class="field is-expanded">
								  		<div class="control is-expanded">
								  		  <input class="input {% if user_form.email.errors %} is-danger{% endif %}" type="email" placeholder="Email" name="email" maxlength="254" value="{{ user_form.email.value }}">
											</div>
											<div class="help is-danger">
												{{ user_form.email.errors }}
											</div>
								  	</div>
								  </div>
								</div>

								<div class="field is-horizontal">
								  <div class="field-label is-normal">
								  	<label class="label">Biography</label>
								  </div>
								  <div class="field-body">
								  	<div class="field is-expanded">
								  		<div class="control is-expanded">
								  		  <textarea name="biography" class="textarea biography-textarea {% if profile_form.biography.errors %} is-danger{% endif %}" placeholder="Biography..." rows="2">
								  		  	{% if profile_form.biography.value %}
								  		  		{{ profile_form.biography.value|strip }}
								  		  	{% endif %}
								  		  </textarea> 
											</div>
											<div class="help is-danger">
												{% for error in profile_form.biography.errors %}
													{{ error }}
												{% endfor %}
											</div>
								  	</div>
								  </div>
								</div>

								<div class="field is-horizontal">
								  <div class="field-label is-normal">
								  	<label class="label">Date of birth</label>
								  </div>
								  <div class="field-body">
								  	<div class="field is-expanded">
								  		<div class="control is-expanded">
								  		  <input class="input {% if profile_form.date_of_birth.errors %} is-danger{% endif %}" type="date" placeholder="Date of birth" name="date_of_birth" value="{{ user.profile.date_of_birth |date:'Y-m-d' }}">
											</div>
											<div class="help is-danger">
												{{ profile_form.date_of_birth.errors }}
												<!-- {{ user.profile.date_of_birth |date:'Y-m-d' }} -->
											</div>
								  	</div>
								  </div>
								</div>

								<div class="field is-horizontal avatar-field">
								  <div class="field-label is-normal">
								  	<label class="label">Avatar</label>
								  </div>
								  <div class="field-body">
								  	<div class="field is-expanded">
								  		<div class="control is-expanded">
								  		  <figure class="image is-64x64">
								  		  	{% if user.profile.avatar %}
								  		  		{% thumbnail user.profile.avatar "64x64" crop="center" as im %}
								  		  			<img src="{{ im.url }}" alt="" class="is-rounded" id="profile-avatar-img" width="{{ im.width }}" height="{{ im.height }}">
								  		  		{% endthumbnail %}
								  		  	{% else %}
								  		  		<img src="{% static 'account/img/man-2.png' %}" alt="" class="is-rounded">
								  		  	{% endif %}
								  		  </figure>
								  		  <div class="file has-name">
								  		  	<div class="file-label">
								  		  		<input type="file" class="file-input" name="avatar">
								  		  		<span class="file-cta">
								  		  			<span class="file-icon">
								  		  				<i class="fas fa-upload"></i>
								  		  			</span>
								  		  			<span class="file-label">
								  		  				Choose a file...
								  		  			</span>
								  		  		</span>
								  		  		<span class="file-name">
								  		  			{{ profile_form.avatar.value }}
								  		  		</span>
								  		  	</div>
								  		  </div>
											</div>
								  	</div>
								  </div>
								</div>

								<input type="hidden" value="{{ profile_form.phone.value }}" name="phone">

								<div class="field is-horizontal button-container">
									<div class="field-label">
										<label class="label"></label>
									</div>
									<div class="field-body">
										<div class="field">
											<div class="control">
												<button type="submit" class="button is-primary button-edit-profile is-outlined">
													Save
												</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="content is-hidden content-2">
							<h4>Change password</h4>
							<hr>
							<form action="{% url 'account:change_password' %}" method="post">
								{% csrf_token %}

								<div class="field is-horizontal">
								  <div class="field-label is-normal">
								  	<label class="label">Old Password</label>
								  </div>
								  <div class="field-body">
								  	<div class="field is-expanded">
								  		<div class="control">
								  		  <input class="input {% if password_form.old_password.errors %} is-danger{% endif %}" type="password" placeholder="Old Password..." name="old_password" required>
											</div>
											<div class="help is-danger">
												{% for error in password_form.old_password.errors %}
													{{ error }}
												{% endfor %}
											</div>
								  	</div>
								  </div>
								</div>

								<div class="field is-horizontal">
								  <div class="field-label is-normal">
								  	<label class="label">New Password</label>
								  </div>
								  <div class="field-body">
								  	<div class="field is-expanded">
								  		<div class="control">
								  		  <input class="input {% if password_form.new_password1.errors %} is-danger{% endif %}" type="password" placeholder="New password..." name="new_password1" required>
											</div>
											<div class="help">
												Your password can't be too similar to your other personal information, can't be entirely numeric, must contain at least 8 characters and can't be a commonly used password.
											</div>
											<div class="help is-danger">
												{% for error in password_form.new_password1.errors %}
													{{ error }}
												{% endfor %}
											</div>
								  	</div>
								  </div>
								</div>

								<div class="field is-horizontal">
								  <div class="field-label is-normal">
								  	<label class="label">Confirm Password</label>
								  </div>
								  <div class="field-body">
								  	<div class="field">
								  		<div class="control is-expanded">
								  		  <input class="input {% if password_form.new_password2.errors %} is-danger{% endif %}" type="password" placeholder="Confirm password..." name="new_password2" required>
											</div>
											<div class="help is-danger">
												{% for error in password_form.new_password2.errors %}
													{{ error }}
												{% endfor %}
											</div>
								  	</div>
								  </div>
								</div>

								<div class="field is-horizontal button-container">
									<div class="field-label">
										<label class="label"></label>
									</div>
									<div class="field-body">
										<div class="field">
											<div class="control">
												<button type="submit" class="button is-primary is-outlined">
													Save
												</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="content is-hidden content-3">
							<h4>Email and SMS</h4>
							<hr>
							<form action="" method="post">
								{% csrf_token %}

								{% for field in user_form %}
								  <div class="field is-hidden">
										{% if field == user_form.email %}

								    {% else %}
								    	{{ field }}
								    {% endif %}
								  </div>
								{% endfor %}

								{% for field in profile_form %}
								  <div class="field is-hidden">
										{% if field == profile_form.phone %}

								    {% else %}
								    	{{ field }}
								    {% endif %}
								  </div>
								{% endfor %}


								<div class="field is-horizontal">
								  <div class="field-label is-normal">
								  	<label class="label">Email</label>
								  </div>
								  <div class="field-body">
								  	<div class="field is-expanded">
								  		<div class="control is-expanded">
								  		  <input class="input {% if user_form.email.errors %} is-danger{% endif %}" type="email" placeholder="Email" name="email" maxlength="254" value="{{ user_form.email.value }}">
											</div>
											<div class="help is-danger">
												{{ user_form.email.errors }}
											</div>
								  	</div>
								  </div>
								</div>

								<div class="field is-horizontal">
								  <div class="field-label is-normal">
								  	<label class="label">SMS</label>
								  </div>
								  <div class="field-body">
								  	<div class="field is-expanded">
								  		<div class="control is-expanded">
								  		  <input class="input {% if profile_form.phone.errors %} is-danger{% endif %}" type="tel" placeholder="Phone number..." name="phone" maxlength="50" value="{{ profile_form.phone.value }}">
											</div>
											<div class="help is-danger">
												{{ profile_form.phone.errors }}
											</div>
								  	</div>
								  </div>
								</div>

								<div class="field is-horizontal button-container">
									<div class="field-label">
										<label class="label"></label>
									</div>
									<div class="field-body">
										<div class="field">
											<div class="control">
												<button type="submit" class="button is-primary is-outlined">
													Save
												</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="content is-hidden content-4">
							<h4>Manage contacts</h4>
							<hr>
						</div>
						<div class="content is-hidden content-5">
							<h4>Privacy and security</h4>
							<hr>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}