{% extends 'layout.html' %}
{% block title %} Login {% endblock%}

{% block content %}
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-half-desktop">
				<div class="card">
					<div class="card-header">
						<p class="card-header-title is-size-5">
							Sign in
						</p>
					</div>

					<div class="card-content">
						<form action="{% url 'account:login' %}" method="post" class="login-form">
							{% csrf_token %}
							<input type="hidden" name="next" value="{{ next }}">

							<div class="field is-horizontal">
							  <div class="field-label is-normal">
							  	<label class="label">Username</label>
							  </div>
							  <div class="field-body">
							  	<div class="field is-expanded">
							  		<div class="control is-expanded has-icons-left">
							  		  <input class="input {% if form.username.errors %} is-danger{% endif %}" type="text" placeholder="Username" name="username" id="id_username" autofocus>
							  		  <span class="icon is-small is-left">
							  		    <i class="fas fa-user"></i>
							  		  </span>
										</div>
										<div class="help is-danger">
											{{ form.username.errors }}
										</div>
							  	</div>
							  </div>
							</div>

							<div class="field is-horizontal">
							  <div class="field-label is-normal">
							  	<label class="label">Password</label>
							  </div>
							  <div class="field-body">
							  	<div class="field is-expanded">
							  		<div class="control is-expanded has-icons-left">
							  		  <input class="input {% if form.password.errors %} is-danger{% endif %}" type="password" placeholder="Password" name="password" id="id_password" autofocus>
							  		  <span class="icon is-small is-left">
							  		    <i class="fas fa-pen-alt"></i>
							  		  </span>
										</div>
										<div class="help is-danger">
											{{ form.password.errors }}
										</div>
							  	</div>
							  </div>
							</div>

							<div class="field is-horizontal button-container">
								<div class="field-label">
									<label class="label"></label>
								</div>
								<div class="field-body">
									<div class="field">
										<div class="control">
											<button type="submit" class="button is-primary is-fullwidth">
												Login
											</button>
										</div>
									</div>
								</div>
							</div>	
	
						</form>
					</div>

					<div class="card-footer is-centered">
						<div class="column">
							<p class="has-text-centered">
								Don't have an account? <a href="{% url 'account:register' %}">Sign up</a>.
							</p>
						</div>
					</div>				
				</div>
			</div>
		</div>
	</div>
{% endblock %}

<!-- {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} 
        {{ field }}
        {% if field.help_text %}
	        <p class="help">
	        	{{ field.help_text|safe }}
	        </p>
        {% endif %}
    </div>
{% endfor %} -->

<!-- {{ form.field_errors }} -->