{% extends 'layout.html' %}
{% block title %} Register {% endblock%}

{% block content %}
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-half-desktop">
				<div class="card">
					<div class="card-header">
						<p class="card-header-title is-size-5">
							Create an account
						</p>
					</div>

					<div class="card-content">
						<form action="{% url 'account:register' %}" method="post" class="login-form">
							{% csrf_token %}
							<!-- {{ registration_form.non_field_errors }} -->
								
							<!-- {% for field in registration_form %}
							    <div class="fieldWrapper">
							        {{ field.errors }}
							        {{ field.label_tag }} 
							        {{ field }}
							        {% if field.help_text %}
								        <p class="help">
								        	{{ field.help_text|safe }}
								        </p>
							        {% endif %}
							    </div>
							{% endfor %} -->

							<div class="field is-horizontal">
							  <div class="field-label is-normal">
							  	<label class="label">Firstname</label>
							  </div>
							  <div class="field-body">
							  	<div class="field is-expanded">
							  		<div class="control is-expanded has-icons-left">
							  		  <input class="input {% if registration_form.first_name.errors %} is-danger{% endif %}" type="text" placeholder="Firstname" name="first_name" maxlength="30" id="id_first_name">
							  		  <span class="icon is-small is-left">
							  		    <i class="fas fa-user"></i>
							  		  </span>
										</div>
										<div class="help is-danger">
											{{ registration_form.first_name.errors }}
										</div>
							  	</div>
							  </div>
							</div>

							<div class="field is-horizontal">
							  <div class="field-label is-normal">
							  	<label class="label">Lastname</label>
							  </div>
							  <div class="field-body">
							  	<div class="field is-expanded">
							  		<div class="control is-expanded has-icons-left">
							  		  <input class="input {% if registration_form.last_name.errors %} is-danger{% endif %}" type="text" placeholder="Lastname" name="last_name" id="id_last_name" maxlength="150">
							  		  <span class="icon is-small is-left">
							  		    <i class="fas fa-user-alt"></i>
							  		  </span>
										</div>
										<div class="help is-danger">
											{{ registration_form.last_name.errors }}
										</div>
							  	</div>
							  </div>
							</div>

							<div class="field is-horizontal">
							  <div class="field-label is-normal">
							  	<label class="label">Username</label>
							  </div>
							  <div class="field-body">
							  	<div class="field is-expanded">
							  		<div class="control is-expanded has-icons-left">
							  		  <input class="input {% if registration_form.username.errors %} is-danger{% endif %}" type="text" placeholder="Username" name="username" id="id_username" maxlength="150">
							  		  <span class="icon is-small is-left">
							  		    <i class="fas fa-user-circle"></i>
							  		  </span>
							  		</div>
							  		<div class="help">
							  			<p>{{ registration_form.username.help_text }}</p>
										</div>
										<div class="help is-danger">
											{{ registration_form.username.errors }}
										</div>
							  	</div>
							  </div>
							</div>

							<div class="field is-horizontal">
							  <div class="field-label is-normal">
							  	<label class="label">Email</label>
							  </div>
							  <div class="field-body">
							  	<div class="field is-expanded">
							  		<div class="control is-expanded has-icons-left">
							  		  <input class="input {% if registration_form.email.errors %} is-danger{% endif %}" type="email" placeholder="Email" name="email" id="id_email" maxlength="254">
							  		  <span class="icon is-small is-left">
							  		    <i class="fas fa-envelope"></i>
							  		  </span>
										</div>
										<div class="help is-danger">
											{{ registration_form.email.errors }}
										</div>
							  	</div>
							  </div>
							</div>

							<div class="field is-horizontal">
							  <div class="field-label is-normal">
							  	<label class="label">Password</label>
							  </div>
							  <div class="field-body">
							  	<div class="field is-expanded">
							  		<div class="control is-expanded has-icons-left">
							  		  <input class="input {% if registration_form.passsword.errors %} is-danger{% endif %}" type="password" placeholder="Password" name="password" id="id_password">
							  		  <span class="icon is-small is-left">
							  		    <i class="fas fa-pen-alt"></i>
							  		  </span>
										</div>
										<div class="help is-danger">
											{{ registration_form.password.errors }}
										</div>
							  	</div>
							  </div>
							</div>

							<div class="field is-horizontal">
							  <div class="field-label is-normal">
							  	<label class="label">Confirm Password</label>
							  </div>
							  <div class="field-body">
							  	<div class="field is-expanded">
							  		<div class="control is-expanded has-icons-left">
							  		  <input class="input {% if registration_form.confirm_password.errors %} is-danger{% endif %}" type="password" placeholder="Confirm password" name="confirm_password" id="id_confirm_password">
							  		  <span class="icon is-small is-left">
							  		    <i class="fas fa-pen-alt"></i>
							  		  </span>
										</div>
										<div class="help is-danger">
											{{ registration_form.confirm_password.errors }}
										</div>
							  	</div>
							  </div>
							</div>

							<div class="field is-horizontal button-container">
								<div class="field-label">
									<label class="label"></label>
								</div>
								<div class="field-body">
									<div class="field">
										<div class="control">
											<button type="submit" class="button is-primary is-fullwidth">
												Register
											</button>
										</div>
									</div>
								</div>
							</div>	
	
						</form>
					</div>

					<div class="card-footer is-centered">
						<div class="column">
							<p class="has-text-centered">
								Already have an account? <a href="{% url 'account:login' %}">Sign in</a>.
							</p>
						</div>
					</div>				
				</div>
			</div>
		</div>
	</div>
{% endblock %}