{% extends 'base.html' %}

{% block title %} | Create publication {% endblock %}

{% block content %}
	<h1 class="subtitle">Create a publication</h1>
	<hr>
	<p>Preview image:</p>
	<div class="box preview_upload_image">
		<img src="" alt="">
	</div>
	<form action="{% url 'publications:create_publication' %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}

		<!-- {% for field in form %}
		  <div class="field is-hidden">
				{% if field == form.image %}

				{% elif field == form.description %}

		    {% else %}
		    	{{ field }}
		    {% endif %}
		  </div>
		{% endfor %} -->

		<!-- {{form.as_p}} -->

		<!-- <input type="hidden" name="user" value="{{ user }}"> -->

		<div class="field is-horizontal">
			<div class="field-label is-normal">
				<label class="label">Image</label>
			</div>
			<div class="field-body">
				<div class="field is-expanded">
					<div class="control is-expanded">
						<div class="file has-name">
							<div class="file-label">
								<input type="file" class="file-input" name="image" accept="image/*">
								<span class="file-cta">
									<span class="file-icon">
										<i class="fas fa-upload"></i>
									</span>
									<span class="file-label">
										Upload an image...
									</span>
								</span>
								<div class="file-name is-hidden">
									
								</div>
							</div>
						</div>
					</div>
					<div class="help is-danger">
						{% for error in form.image.errors %}
							{{ error }}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label is-normal">
				<label class="label">Description</label>
			</div>
			<div class="field-body">
				<div class="field is-expanded">
					<div class="control is-expanded">
						<textarea name="description" rows="3" class="textarea {% if form.description.errors %} is-danger{% endif %}"></textarea>
					</div>
					<div class="help is-danger">
						{% for error in form.description.errors %}
							{{ error }}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="field is-horizontal button-container">
			<div class="field-label">
				<label class="label"></label>
			</div>
			<div class="field-body">
				<div class="field">
					<div class="control">
						<button type="submit" class="button is-primary is-fullwidth">
							Send
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}