@import url('./font-awesome.min.css');

:root {
  --primary: hsl(171, 100%, 41%);
}

header {
  margin-bottom: 2rem;
}

body {
  position: relative;
}

/*.button.is-primary:focus:not(:active), .button.is-primary.is-focused:not(:active)*/

/*.button-settings:active,*/ 

/*.button-settings:focus:not(:active), .button-settings.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25) !important;
}

.button-settings:focus, .button-settings:active:not(:focus) {
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25) !important;
}

.button-settings:focus, .button-settings:active:not(:focus) {
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25) !important;
}

.button-settings:hover {
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25) !important;
}*/

.button-add-pub {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 39;
}

.button-user-link {
  color: #363636 !important;
}

.button-user-link:hover {
  color: hsl(0, 0%, 29%) !important;
}

.button-add-pub:hover .fa-stack-2x {
  color: #00c4a7;
}

.navbar {
  border-bottom: 1px solid hsl(171, 100%, 41%);
}

.navbar .navbar-brand .navbar-item:hover {
  color: hsl(0, 0%, 29%);
}

.navbar .navbar-link:hover {
  color: hsl(0, 0%, 29%) !important;
}

.navbar .navbar-item:hover, .navbar .navbar-link:hover {
  color: hsl(171, 100%, 41%);
}

.navbar .navbar-dropdown .navbar-item:hover {
  color: hsl(171, 100%, 41%);
}

.navbar i {
  margin-right: 0.5rem;
}

/* .profile-information {
  margin-bottom: 2rem;
} */

.profile-img-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.profile-information .image {
  /* width: 10vw;
  height: 7.5vw; */
}

.profile-information .image img {
  max-height: 100%;
}

.profile-information-container .title {
  display: flex;
  align-items: center;
}

.profile-information-container .title .button {
  margin-left: 1.2rem;
}

.profile-information-container .columns .level strong {
  margin-right: 0.5rem;
}

.profile-information-container .biography p {
  font-size: 0.9375rem;
}

.users-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  /*grid-template-rows: 22.5vw;*/
}

.users-grid .user img {
  /*height: 22.5vw;
  max-height: 22.5vw;
  width: 100%;*/
}

.publications-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  /*grid-template-rows: 20vw;*/
}

.publications-grid .publication img {
  /*height: 20vw;
  max-height: 20vw;
  width: 100%;*/
}

.button-edit-profile {
  /*padding: calc(0.375em - 1px) 2em !important;*/
}

.modal-image {
  /*height: 35vw !important;
  max-height: 35vw !important;*/
}

.publication.dashboard-publication {
  margin-bottom: 1.75rem;
}

.publication .modal .modal-content {
  background: #f4f4f4;
}

.publication ul {
  display: flex;
  align-items: center;
}

.publication hr {
  margin: 0.2rem 0 0.5rem;
  background: rgba(0,209,178,0.24);
  height: 1px;
}

.publication form.dashboard-form {
  max-width: 600px;
  margin-top: 0.2rem;
}

.publication form.dashboard-form textarea {
  width: 100%;
  border: 1px solid #f6f6f6;
  border-radius: 0;
  margin: 0;
  padding: 1rem 1rem 0 0.5rem;
  /*background: #f4f4f4;*/
  background: transparent;
  font-size: 0.875rem;

}

.publication ul li:nth-child(2) {
  margin: 0 0.4rem;
}

.publication .modal .modal-content ul {
  display: flex;
  padding: 0.35rem 1rem 0;
}

.publication .modal .modal-content ul li, .publication ul li {
  /*padding: 0 0.5rem;*/
  padding: 0;
}

.publication .modal .modal-content ul li .icon, .publication ul li .icon {
  color: #ccc;
}

.publication .modal .modal-content ul li .icon i {
  color: inherit;
  font-size: 1.25rem;
  cursor: pointer;
}

.publication .modal .modal-content ul li .icon i:hover {
  color: var(--primary);
}

.publication .modal .modal-content ul li:first-child {
  padding: 0 0.5rem 0 0;
}

.publication .modal .modal-content ul li:last-child() {
  padding: 0 0 0 0.5rem;
}

.publication .modal .modal-content p {
  padding: 0 1rem;
}

.publication .modal .modal-content span {
  padding: 0 1rem;
}

.publication .modal .modal-content span.total-likes-number {
  padding: 0;
}

.publication .modal .modal-content hr {
  margin: 0.3rem 1rem;
  background: rgba(0,209,178,0.24);
  height: 1px;
}

.publication .modal .modal-content form input[type="text"] {
  width: 100%;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #f4f4f4;
  border-radius: 0;
  margin: 0.5rem 0 0;
  padding: 1.5rem 1rem;
  background: #f4f4f4;
  font-size: 0.875rem;
}

.publication .modal .modal-content form textarea {
  width: 100%;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid rgb(222,222,222);
  border-radius: 0;
  margin: 1rem 0 0;
  padding: 1rem 1rem 0 1rem;
  background: #f4f4f4;
  font-size: 0.875rem;
}

@media (min-width: 1024px) and (max-width: 1088px) {
  main {
    margin: 0 1.25rem;
  }
  
  .profile-information {
    margin: 0 1.25rem;
  }

  .publications-grid {
    margin: 0 1.25rem;
  }
}

@media (max-width: 1024px) {
  main {
    margin: 0 1.25rem;
  }

  .publications-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.25rem;
    grid-template-rows: 30vw;
    margin: 0 1.5rem;
  }

  .publications-grid .publication img {
    height: 30vw;
    max-height: 30vw;
  }
}

@media (max-width: 768px) {
  .profile-information-container .title {
    justify-content: center;
  }

  .profile-information-container .profile-data {
    display: flex;
    justify-content: center;
  }

  .publications-grid {
    grid-template-columns: 1fr;
    grid-gap: 1.25rem;
    grid-template-rows: 45vw;
  }

  .publications-grid .publication img {
    height: 45vw;
    max-height: 45vw;
  }
}

@media (max-width: 550px) {
  .profile-information-container .profile-data {
    flex-direction: column;
    align-items: center;
  }

  .profile-data .level {
    flex-wrap: wrap;
  }

  .profile-data .level-item {
    margin-top: 0.5rem;
  }
}

.profile-conf .card .columns .column.is-3 {
  padding: 0 0 0 0.75rem !important;
}

.profile-conf .card .columns .column.is-3 .panel-block {
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.profile-conf .card .columns .column.is-3 .panel-block:not(.is-active) {
  border-left: none;
}

.profile-conf .card .columns .column.is-9 {
  border-left: 1px solid #dbdbdb;
  padding: 2rem;
}

.profile-conf .avatar-field figure {
  margin-bottom: 0.5rem;
}

/*.avatar-field .field-body .field .control {
  display: flex;
}*/

.file-input {
  z-index: 100 !important;
  cursor: pointer;
}

.preview_upload_image {
  margin: 1rem 0;
  width: 90%;
  height: 40vw;
  padding: 0 !important;
}

.preview_upload_image img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

ul.comment-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ul.comment-list li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
  margin-bottom: 0.6rem !important;
}

ul.comment-list li:nth-child(2) {
  margin-left: 0;
  margin-right: 0;
}

ul.comment-list li article.media {
  width: 100%;
}

ul.comment-list li article.media p.image {
  padding-left: 0;
}

ul.comment-list li p.no-comments {
  padding: 0 !important;
}

footer {
  margin-top: 2rem;
  background: #fafafa;
  padding: 1rem 0;
}

footer .container {
  display: flex;
  justify-content: center;
}

footer .container p {
  font-size: 0.75rem;
}