@import url('./font-awesome.min.css');

.landing-page {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-form .label, 
.register-form .label {
	/*max-width: 75px !important;*/
	width: 80px;
}

.button-container {
	margin-top: 1.5rem;
}